name: CMake / Emscripten

on: 
  push:
  pull_request:
  release:
    types: [created]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2

    - name: Install deps
      run: |
        sudo apt update && sudo apt install doxygen graphviz python3-setuptools
        pip3 install 32blit

    - name: Setup Emscripten
      uses: mymindstorm/setup-emsdk@v7
      with:
        version: 2.0.4

    - name: Create Build Environment
      run: cmake -E make_directory ${{runner.workspace}}/build

    - name: Set Tag Variable
      if: github.event_name == 'release'
      shell: bash
      run: echo "TRAVIS_TAG=${{github.event.release.tag_name}}" >> $GITHUB_ENV

    - name: Configure CMake
      shell: bash
      working-directory: ${{runner.workspace}}/build
      run: emcmake cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE

    # Problem matching
    - uses: ammaraskar/gcc-problem-matcher@master

    - name: Build
      working-directory: ${{runner.workspace}}/build
      shell: bash
      run: cmake --build . --config $BUILD_TYPE -j 2

    # build the docs
    - name: Build Docs
      run: |
        cd 32blit && doxygen doxygen.conf && cd ..
        cp -r 32blit/documentation/html/* site
        cp ../build/examples/*/*.{js,wasm} site/examples

    - name: Deploy to GitHub Pages
      if: github.ref == 'refs/heads/master' # github.event_name == 'release'
      uses: crazy-max/ghaction-github-pages@v2
      with:
        target_branch: gh-pages
        build_dir: site
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}